/*

    CSS for Main Functionality and Body


    Attemped BG Colours: 

    maroon-ish colour: 119, 46, 37
    dark jg green: 26, 40, 31 (pretty good w the bg)  
    "pine tree": 13, 25, 1
    powder blue: 190, 233, 232
    burnt umber: 130, 51, 41
    cool navy ish: 1b262c (very solid)
*/

#main-content-container {
    background-color: rgba(26, 40, 31, 1) !important;
    background-attachment: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#main-content {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    opacity: 0;
}

#current-earned, 
#creds-remaining {
    font-size: 18px;
}

#add-course-wrapper {
    margin-top: 0px;
    text-align: center;
    font-size: 18px;
}

#add-sem-prompt {
    text-align: left;
}

#top-navbar {
    text-align: left;
    height: 50px;
    padding-left: 20px;
}

#top-left-logo {
    font-size: 24px;
    padding-right: 24px;
    padding-left: 24px;
    color: white;
}

#mcgill-logo {
    height: 36px;
    padding-top: 10px;
}

#display-credits {
    margin-top: 100px;
    text-align: center;
}

#remaining-text {
    margin-left: 100px;
}

.ins, .ins-text {
    margin-top: 80px;
    margin-bottom: 80px;
    vertical-align: middle;
    font-size: 16px;
}

.ins {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    border: 3px solid #fff;
    border-radius: 100px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.ins-text {
    width: 280px;
    text-align: center;
    display: inline-block;
}

.course {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
}

.course:hover {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}

#semester-matrix {
    margin-top: 100px;
}

.semester {
    margin-bottom: 100px;
}