/*
    CSS for General Functionality and Index
*/

html {
    font-family: 'Open sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

input {
    border: 3px solid #fff;
    
}

.text, 
.prompt, 
.num-text,
.ins, 
.ins-text {
    color: white;
}

#scroll-button {
    margin-top: 150px;
    text-align: center;
}

#about-wrapper {
    background-image: url("mcgill-bg4.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

#about-text {
    text-align: left;
    margin-bottom: 100px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 200px;
    padding-bottom: 200px;
}

#about-title {
    font-size: 36px;
}

#about-body {
    font-size: 18px;
    background-color: rgba(100,100,100, 0.65);
    padding: 25px;
    border-radius: 10px;
}

#main-content {
    display:none;
}

button {
    border-radius: 5px;
}

#index-title {
    margin-top: 15%;
    font-size: 36px;
}

#required-credits-prompt {
    margin-top: 10px;
}

#submit-button-wrapper {
    margin-top: 10px;
}

#title-wrapper, 
#base-info-container {
    text-align: center;
}

#multi-wrapper {
    height: 71vh;
}






